@import "~antd/dist/antd.css";
@import "~flexboxgrid/dist/flexboxgrid.min.css";

.ant-layout .logo {
  float: left;
  line-height: 64px;
  color: #fff;
  margin-right: 1rem;
}

.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}

@for $i from 1 through 16 {
  .ml-#{$i} {
    margin-left: (0.25rem * $i);
  }

  .mt-#{$i} {
    margin-top: (0.25rem * $i);
  }

  .mv-#{$i} {
    margin: (0.25rem * $i) 0;
  }

  .mh-#{$i} {
    margin: 0 (0.25rem * $i);
  }

  .pr-#{$i} {
    padding-right: (0.25rem * $i);
  }
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}
.blink {
  animation: blink 2s linear infinite;
}

.cam-rotation {
  $w: 350px;
  $h: 175px;

  width: $w;
  height: $h;
  position: relative;

  video {
    width: $w;
    height: $h;
    aspect-ratio: "16/9";
    transform-origin: top left;
  }

  &.cam-rotation-0 {
  }

  &.cam-rotation-90 {
    width: $h;
    height: $w;
    left: $h;

    video {
      position: absolute;
      transform: rotate(90deg);
    }
  }

  &.cam-rotation--90 {
    width: $h;
    height: $w;
    top: $w;
    
    video {
      position: absolute;
      transform: rotate(-90deg);
    }
  }

  &.cam-rotation-180 {
    video {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
}
